@model WebApplicationParqueando.Models.DTO.EstablecimientoDTO

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="IDEstablecimiento" />

            <div class="form-group">
                <label asp-for="NombreEstablecimiento" class="control-label"></label>
                <input asp-for="NombreEstablecimiento" class="form-control" />
                <span asp-validation-for="NombreEstablecimiento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Capacidad" class="control-label"></label>
                <input asp-for="Capacidad" class="form-control" />
                <span asp-validation-for="Capacidad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tarifa" class="control-label"></label>
                <input asp-for="Tarifa" class="form-control" />
                <span asp-validation-for="Tarifa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista de establecimientos</a>
</div>
