@model WebApplicationParqueando.Models.DTO.EstablecimientoDTO

<h2>Detalles del Establecimiento</h2>

<div>
    <h4>ID: @Model.IDEstablecimiento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.NombreEstablecimiento</dd>
        <dt class="col-sm-2">Capacidad</dt>
        <dd class="col-sm-10">@Model.Capacidad</dd>
        <dt class="col-sm-2">Tarifa</dt>
        <dd class="col-sm-10">@Model.Tarifa</dd>
    </dl>
</div>
<p>
    <a asp-action="Index">Volver a la lista de establecimientos</a>
</p>
