
<h2>Lista de Usuarios</h2>
<br />
<div class="col-6">
    <a asp-action="Create" class="btn btn-primary text-white">Añade tu establecimiento con parkiando</a>
</div>
<br />
<div id="usersContainer">

</div>

@section Scripts {
    <script src="~/js/user.js"></script>
}