
<h2>Lista de reservas</h2>
<br />
<div class="col-6">
    <a asp-action="Create" class="btn btn-primary text-white"> realizar tu reserva </a>
</div>
<br />
<div id="usersContainer">
   
</div>

@section Scripts {
    <script src="~/js/user.js"></script>
}