
<h2>Lista de Comentarios</h2>
<br />
<div class="col-6">
    <a asp-action="Create" class="btn btn-primary text-white">Crear nuevo comentario</a>
</div>
<br />
<div id="usersContainer">
    <!-- Los usuarios se mostrarán aquí -->
</div>

@section Scripts {
    <script src="~/js/user.js"></script>
}