@model WebApplicationParqueando.Models.DTO.CalificacionDTO

@{
    ViewData["Title"] = "Edit Rating";
}

<h1>Edit Rating</h1>

<h4>Rating</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="IDCalificacion" />

            <div class="form-group">
                <label asp-for="Valoracion" class="control-label"></label>
                <input asp-for="Valoracion" class="form-control" />
                <span asp-validation-for="Valoracion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IDUsuario" class="control-label"></label>
                <input asp-for="IDUsuario" class="form-control" />
                <span asp-validation-for="IDUsuario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IDEstablecimiento" class="control-label"></label>
                <input asp-for="IDEstablecimiento" class="form-control" />
                <span asp-validation-for="IDEstablecimiento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary form-control" value="Save" />
                <div class="col">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}